/nbproject/private/
node_modules/
.idea/
src/polca.ui.js
src/polca.ui.js.map
src/polca.js
src/polca.js.mapc/lib/ratio.js.map
src/lib/ratio.js
src/polcalib.js.map
src/lib/ratio.js.map
src/polca.js.map
src/polca.htmlextension.js.map
src/polca.htmlextension.js
.project
polcaJS.iml
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/polca.ts.html
coverage/lcov-report/polcalib.js.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
