/nbproject/private/
node_modules/
.idea/
src/polca.ui.js
src/polca.ui.js.map
src/polca.js
src/polca.js.mapc/lib/ratio.js.map
src/lib/ratio.js
src/polcalib.js.map
src/lib/ratio.js.map
src/polca.js.map
src/polca.htmlextension.js.map
