* {
  margin:0;
  padding:0;
  font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
}

html,body{
  background:#bf8040;
  text-align:center;
  padding:0;
  margin:0;
  height:100%;
  overflow: hidden;
  z-index:0
}

#polca_content{
  display:block;
  width:532px;
  height:100%;
  overflow: auto;
  margin: auto;
  background: url('backflower.svg') no-repeat center;
  background-size: 256px 256px;
}

input {
  font-size: 24px;
}

.polca_in {
  height: 32px;
  width: 432px;
  border: 0;
  outline: 0;
  vertical-align: top;
}

.polca_in:focus {
  height: 32px;
  width: 432px;
  margin-left: -4px;
  border-left: 4px red solid;
  vertical-align: top;
}

.polca_btn {
  height: 32px;
  width: 32px;
  border: 0;
  background: #fff;
  color: #bf8040;
  vertical-align: top;
}

#plus_btn {
  margin-top: 8px;
  width: 496px;
}

.polca_section {
  /*margin-top: 8px;*/
}

.polca_btn:hover {
  color: #F00;
}

.polca_btn:active {
  color: #fff;
  background: #f00;
}

.polca_out {
  display: block;
  width: 496px;
  margin: auto;
  min-height: 32px;
  font-size: 24px;
  text-align: left;
  background: #dfc0a0;
}
