html
{
  font-family: "Source Code Pro", "Consolas", "Inconsolata", "DejaVu Sans Mono", "Lucida Console", monospace;
  font-size: 24px;
  min-height: 100vh;
  background: #c08040 url('backflower.svg') no-repeat fixed center;
  background-size: calc((50vh + 50vw) / 3);
}

::selection
{
  color: #fff;
  background: #f00;
}

body
{
  margin: 16px;
}

#polca_content
{
  width: 100%;
  max-width: 768px;
  margin: auto;
  display:flex;
  flex-direction: column;
  background-color: #fff;
}

input, output
{
  font: inherit;
  flex-grow: 1;
  min-width: 50%;
  min-height: 1em;
  box-sizing: border-box;
  background-color: #fff;
  padding: 2px;
  border: 0;
  vertical-align: bottom;
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
  text-align: left;
  user-select: inherit;
}

input
{ color: #000; }

output
{ color: #C08040; }

output.failed
{ color: #f00}

section
{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info
{
  padding: 8px;
  font-family: "Source Serif Pro", Times, serif;
  background-color: #f0f0f0;
  width: 100%;
}

section.active
{
  margin-left: -8px;
  border-left: 8px #f00 solid;
}


@media (max-width: 512px)
{
  section
  { flex-direction: column; }
}

/* dark style */

html.dark
{
  background-color: #604020;
}

html.dark input
{ color: #E0C0A0}

html.dark #polca_content, html.dark output, html.dark input
{ background-color: #000 }

html.dark .info
{
  color: #FFF;
  background-color: #101010;
}