* {
  margin:0;
  padding:0;
  font-family: "DejaVu Sans Mono", "Lucida Console", monospace;
}

html, body{
  background:#bf8040;
  text-align:center;
  padding:0;
  margin:0;
  height:100%;
  /*overflow: hidden;*/
  z-index:0
}

#polca_content{
  display:block;
  width:532px;
  height:100%;
  /*overflow: auto;*/
  margin: auto;
  background: url('backflower.svg') no-repeat center;
  background-size: 256px 256px;
}

input {
  font-size: 24px;
}

.polca_in {
  height: 32px;
  width: 432px;
  border: 0;
  outline: 0;
  padding-left: 4px;
  vertical-align: top;
}

.polca_in:focus {
  height: 32px;
  width: 432px;
  margin-left: -4px;
  border-left: 4px red solid;
  vertical-align: top;
}

.polca_btn {
  height: 32px;
  width: 32px;
  padding-left: 4px;
  border: 0;
  background: #fff;
  color: #bf8040;
  vertical-align: top;
}

.polca_btn:hover {
  color: #F00;
}

.polca_btn:active {
  color: #fff;
  background: #f00;
}

.polca_out_wrapper {
  background: #dfc0a0;
  width: 500px;
  margin: auto;
  display: table;
  min-height: 32px;
}

.polca_out {
  min-height: 32px;
  width: 464px;
  border: 0;
  outline: 0;
  font-size: 24px;
  vertical-align: middle;
  text-align: left;
  padding-left: 4px;
  display: table-cell;
}

.polca_out_wrapper > .polca_btn {
  background: #dfc0a0;
  height: 100%;
  display: table-cell;
}

.polca_out_wrapper.failed {
  background: #ffC0C0;
}

.polca_out_wrapper.failed > .polca_btn {
  background: #ffC0C0;
}

.polca_section:only-child .polca_delete_btn {
  display: none;
}

.polca_section:only-child .polca_in {
  width: 464px;
}
